<!DOCTYPE html>
<html>

<head>
    <title>Text Adventure</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="container">
        {% if 'admin_id' in session %}
        <div class="nav-menu">
            <a href="{{ url_for('admin') }}">ユーザ一覧</a>
            <a href="{{ url_for('admin_logout') }}">ログアウト</a>
        </div>
        {% elif 'user_id' in session %}
        <div class="nav-menu">
            <a href="{{ url_for('scenario_list') }}">シナリオ一覧</a>
            <a href="{{ url_for('logout') }}">ログアウト</a>
        </div>
        {% endif %}

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>
</body>

</html>