{% extends "base.html" %}
{% block content %}
<h1>{{ scene.scenario_title }}</h1>
<div class="scene-content">
    {% if scene.image %}
    <img src="{{ url_for('send_image', path=scene.image) }}" alt="Scene Image" class="scene-image">
    {% endif %}

    <div class="scene-text">
        {{ scene.text }}
    </div>

    <div class="selections">
        {% for selection in selections %}
        <form method="POST"
            action="{{ url_for('make_selection', scenario_id=scenario_id, selection_id=selection.id) }}">
            <button type="submit" class="selection-button">{{ selection.text }}</button>
        </form>
        {% endfor %}
    </div>
</div>
{% endblock %}